altgraph==0.17.4
et-xmlfile==1.1.0
numpy==1.26.3
openpyxl==3.1.2
packaging==23.2
pandas==2.1.0
pefile==2023.2.7
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2024.0
PyMuPDF==1.21.1
PyMuPDFb==1.23.3
PyPDF2==3.0.1
PySimpleGUI==4.60.5
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
regex==2023.8.8
six==1.16.0
tzdata==2023.4
