PyMuPDFb==1.23.3
PySimpleGUI==4.60.5
regex==2023.8.8
pyinstaller==6.0.0
pandas==2.1.0
PyMuPDF==1.21.1
pypdf2==3.0.1
openpyxl==3.1.2
python-dotenv==1.0.0
pywin32==306
fpdf==1.7.2

#pyinstaller --onefile -w nome_do_arquivo
